*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family:"muli", sans-serif;
    color: rgb(51,51,51);
}

button
{
font-family:"muli", sans-serif;
    
}

path,i,svg
{
    pointer-events: none;
}

.colors
{
   min-height: 80vh;
    display: flex;
    color: rgb(212,212,212);
}
.color
{
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2
{
    font-size: 2rem;
    cursor: pointer;
}

.sliders
{
   background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    padding: 1rem;
    width: 80%;
    pointer-events: none;
    opacity: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}
.sliders.active
{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
}
.sliders button,.close-save,.close-library
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border: none;
    background: rgb(73,73,73);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.controls
{
    display: flex;
    flex-direction: column;
    
}



.panel
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.panel button
{
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31,33,63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.panel p
{
    font-size: 1.2rem;
    
}

.library-panel,.generate-panel,.save-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust ,.lock
{
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
}


input[type=range]
{
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem 0px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
    height: 13px;
    width: 13px;
  border-radius: 50%;
  background:gray;
    opacity: 0.5;
  cursor: pointer;
 -webkit-appearance: none;
  
}


.copy-container,.save-container,.library-container
{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.copy-popup,.save-popup,.library-popup
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    transition: transform 0.5s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
}

.copy-popup h4,.save-popup h4,.library-popup h4
{
    font-size: 2rem;
    padding: 2rem;
}

.copy-container.active,.save-container.active,.library-container.active
{
   opacity: 1;
    pointer-events: all;
}

.copy-popup.active,.save-popup.active,.library-popup.active
{
      transform: translateY(0rem);
}

.save-name
{
    padding: 1rem;
    font-size: 1.5rem;
}

.close-save,.close-library
{
    border-top-right-radius: 1rem;
    border-bottom-left-radius:1rem;
    padding: 0.5rem;
    
}

.submit-save
{
  margin: 2rem;
    padding: 1rem 3rem;
    background: rgb(60,60,92);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}

.library-popup
{
    min-width: 40%;
    padding: 1rem;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 50vh;
    
}

.custom-palette
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
   
}
.small-preview
{
    display: flex;
    flex: 1;
}

.custom-palette h4
{
  
    
}

.small-preview div
{
    height: 5rem;
    flex: 1;
}
.pick-palette-btn
{
    height: 5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: rgb(41,41,41);
    color: white;
}

button:focus {outline:0;}


